body {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: 'PRESS START 2P';
  text-shadow:2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

h1{
  /* What do Computer Scientist's serve at their barbeques? */
  color: #DEADBEEF;
  font-family: 'Press Start 2P';
  font-size: 60px;
  text-shadow:3px 0 0 rgb(88, 0, 149), 0 -3px 0 rgb(203, 0, 196), 0 3px 0 rgb(88, 0, 149), -3px 0 0 rgb(203, 0, 196);
}

h2{
  font-size: 30px;
}

#buttons {
  font-weight: bold;
  font-size: 20px;
}
